.title The Coordinate System

.content
  .row
    .col-xs-12
      %p
        The coordinate system consists of X and Y values starting at (0, 0) in the upper left corner.
      %p
        As you move down the canvas Y gets larger. As you move right on the canvas X gets larger.
      %p
        So the point (100, 50) means you move right 100 and down 50.
      %p.text-xs-center
        = image_tag('lessons/coordinates/reference.png', class: 'img-fluid')
