.title Math.floor() & Math.ceil()

.content
  .row
    .col-xs-12
      %p
        Math.floor() and Math.ceil() will round a number to the closest integer.
        Math.floor() will always round down while Math.ceil() will always round up.

    .offset-xs-1.col-xs-10
      %p.text-xs-center
        = image_tag('lessons/floor/visual1.png', class: 'img-fluid canvas-example')
