.title setInterval()

.content
  .row
    .col-xs-12
      %p
        setInterval() allows you to execute code at specified intervals. It
        is frequently used to create animations.

      %p This code will produce the image below:

      %pre.mb-2
        %code
          :preserve
            var index = 0;
            function count() {
              context.font = "20px serif";
              context.textAlign = 'center';
              context.fillText(index, canvas.width / 2, canvas.height / 2);
            }
            setInterval(count, 1000)

      %p.text-xs-center
        = image_tag('lessons/set_interval/reference.gif', class: 'img-fluid canvas-example')
