.title Variables

.content
  .row
    .col-xs-12
      %p
        A variable allows you to store information to use or change later.

    .offset-xs-1.col-xs-10
      %p.text-xs-center
        = image_tag('lessons/variables/reference.png', class: 'img-fluid canvas-example')
