#flappy_birds_stage1.lesson
  %h1 Stage 1

  = render 'lessons/challenge_count'

  .description.row.py-3
    .col-xs-6
      %h2.py-2
        Overview
      %p
        In the first stage of the Cityscape Challenge, we will draw the shapes of
        buildings with different sizes. Because we will be drawing lots of buildings,
        we will automate the process using functions and variables.

    .col-xs-6
      = image_tag('flappy_square.gif', class: 'img-fluid')
