#flappy_square_stage2.lesson
  %h1 Stage 2

  .description.row.py-3
    .col-xs-6
      %h2.py-2
        Stage 3 Overview
      %p
        In this stage we'll make our flappy bird fly!
        We'll listen for the "up" key to be pressed and
        make our flappy bird fly a bit before falling
        back down.
    .col-xs-6
      = image_tag('lessons/flappy_square/stage2/challenge5Example.gif', class: 'img-fluid canvas-example')
