.title
  Rolling Ball

.description
  A simple animation with a moving background that gives the impression that the ball, which is always
  drawn in the same position on the canvas, is moving. In actuality the background is moving and the
  ball is stationary. Also makes use of multiple files and groups code into javascript classes.
