.title
  Simple Cannonball

.description
  A simple cannonball animation demonstrating a cannonball moving right at
  a constant rate while being pulled down by gravity.
  %br
  %br
  Click the canvas to fire it again.
