.col-xs-12.code-i-wrote.py-2
  %p
    %strong Solution:
    Here's the code I wrote to complete this challenge.
    %span.code-i-wrote-link
      View Solution Code

  .code-i-wrote-view
    .code-i-wrote-code<
      = yield
