.code-preview
  %p
    %strong Previous Challenge:
    View your
    %span.code-preview-link{data: {editorid: editor_id}} code from the previous challenge
    to use on this challenge.

  .code-preview-view
    %strong= challenge_name
    .code-preview-code
