.code-editor{class: "col-xs-#{local_assigns[:cols] ? local_assigns[:cols] : 6}", data: {files: "#{1 if local_assigns[:files]}"}}
  .files
    .btn-group
      %button.btn.btn-secondary.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
        Files
      .dropdown-menu.dropdown-menu-right

  %h5
    Editor
    %small.instructions (write code below)
  .editor{id: editor_id}<
    = yield

  .log.bg-faded.text-muted.small
    %button.close{"aria-label" => "Close", :type => "button"}
      %span{"aria-hidden" => "true"} ×
    .title
      %strong Message Log
    .messages

  .buttons.py-1
    .lesson-text-message.small.text-xs-center
      %p This is a lesson, not a challenge, the code above runs automatically.
      %p But change the code! Play with it! Click the "Run" button to see your changes.
    .run.btn.btn-success
      Run
    .reset.btn.btn-danger
      Reset
