#event_listeners.lesson
  %h1 Event Listeners

  .description.row.py-3
    .col-xs-12
      %h2 What is an event listener?

      .float-xs-right.mx-2.my-2
        = image_tag('lessons/event_listeners/visual1.gif', class: 'img-fluid canvas-example')

      %p.pt-2
        Everything you see on a website has a number of different events you
        can "listen to".
      %p
        Common events include (but are not limited to):
      %ul
        %li click
        %li mouseup
        %li mousedown
        %li mouseover
        %li keypress
        %li keydown
        %li keyup
        %li focus
        %li blur
      %p
        You can find a full list of HTML5 events here:
        = link_to('HTML5 Events', 'https://www.tutorialspoint.com/html5/html5_events.htm', target: '_blank')



  .example.row.py-3
    .col-xs-12
      .row
        .col-xs-12
          %h2
            Rainbow Clicking
          %p.pt-2
            Here we use an event listener to listen for a click on the canvas. When
            the click is received we draw a rainbow design radiating out from the click.

        .col-xs-12
          .interactive.row.py-1
            = render :layout => '/lessons/editor', :locals => {:editor_id => 'event_listeners_example1_editor'} do
              :preserve
                var canvas = document.getElementById('event_listeners_example1');
                var context = canvas.getContext('2d');

                var increment = 20;
                var colors = ['red', 'orange', 'yellow', 'green', 'blue', 'indigo', 'violet'];

                function drawColor(centerX, centerY, specificIndex, generalIndex) {
                  context.save();
                  context.globalAlpha = 1 - (generalIndex * 0.05);
                  context.fillStyle = colors[specificIndex % colors.length];
                  var size = specificIndex * increment;
                  var x = centerX - (size / 2);
                  var y = centerY - (size / 2);
                  context.clearRect(x, y, size, size);
                  context.fillRect(x, y, size, size);
                  context.restore();
                }

                function drawColors(centerX, centerY, index) {
                  for (var i=index; i>=0; --i) {
                    drawColor(centerX, centerY, i, index);
                  }
                }

                function rainbowAnimation(centerX, centerY, index) {
                  drawColors(centerX, centerY, index);
                  setTimeout(function() {
                    if (index < 20) {
                      rainbowAnimation(centerX, centerY, index + 1);
                    }
                  }, 20);
                }

                canvas.addEventListener('click', function(e) {
                  rainbowAnimation(e.layerX, e.layerY, 1);
                });

                context.save();
                context.font = "20px serif";
                context.textAlign = 'center';
                context.fillText('Click Anywhere!', canvas.width / 2, 50);
                context.restore();




            .visual.col-xs-6
              %h5
                Canvas
                %small (your drawing will display here)
              .canvas
                %canvas#event_listeners_example1
