#line_to
  %h1 lineTo

  .official.row.py-3
    .col-xs-6
      %h2 The Official Description
      %p.py-2
        The CanvasRenderingContext2D.lineTo() method of the Canvas 2D API connects the last point in the sub-path
        to the x, y coordinates with a straight line (but does not actually draw it).
      .source.text-xs-right
        = link_to('Mozilla Developer\'s Network', 'https://developer.mozilla.org/en-US/docs/Web/API/CanvasRenderingContext2D/lineTo', target: '_blank')

    .col-xs-6
      = image_tag('lessons/line_to/visual1.png', class: '')


  .simple.row.py-3
    .col-xs-12
      .row
        .col-xs-12
          %h2
            Draw A Line
            %small (but not actually draw it?)
          %p.pt-2
            context.lineTo() creates the path for a line, but won't draw anything.
          %p
            You'll need to call context.stroke() to actually draw the line.

        .col-xs-12
          .interactive.row.py-1
            .code-editor.col-xs-6
              %h5
                Editor
                %small (write code below)
              .editor<
                var canvas = document.getElementById('line_to_interactive1');
                var context = canvas.getContext("2d");
                context.clearRect(0, 0, 450, 300);
                \
                context.beginPath();
                context.moveTo(100, 250);
                context.lineTo(400, 50);
                context.closePath();
                context.stroke();

              .buttons.py-1
                .run.btn.btn-success
                  Run
                .reset.btn.btn-danger.float-xs-right
                  Reset

            .visual.col-xs-6
              %h5
                Canvas
                %small (your drawing will display here)
              .canvas
                %canvas#line_to_interactive1


  .example.row.py-3
    .col-xs-12
      .row
        .col-xs-12
          %h2
            Example
          %p.pt-2
            Using lineTo to draw a basic house.

        .col-xs-12
          .interactive.row.py-1
            .code-editor.col-xs-6
              %h5
                Editor
                %small (write code below)
              .editor<
                var canvas = document.getElementById('line_to_example1');
                var context = canvas.getContext("2d");
                context.clearRect(0, 0, 450, 300);
                /
                context.beginPath();
                context.moveTo(50, 125);
                context.lineTo(200, 125);
                context.lineTo(200, 275);
                context.lineTo(50, 275);
                context.lineTo(50, 125);
                context.lineTo(125, 50);
                context.lineTo(200, 125);
                /
                context.moveTo(75, 150);
                context.lineTo(100, 150);
                context.lineTo(100, 175);
                context.lineTo(75, 175);
                context.lineTo(75, 150);
                /
                context.moveTo(110, 275);
                context.lineTo(110, 215);
                context.lineTo(140, 215);
                context.lineTo(140, 275);
                /
                context.closePath();
                context.stroke();

              .buttons.py-1
                .run.btn.btn-success
                  Run
                .reset.btn.btn-danger.float-xs-right
                  Reset

            .visual.col-xs-6
              %h5
                Canvas
                %small (your drawing will display here)
              .canvas
                %canvas#line_to_example1




  #challenge1.challenge.row.py-3
    .col-xs-12
      .row
        .col-xs-12
          %h2 Challenge 1
          %p.py-2 Draw a line from the point (55, 226) to the point (155, 80), passing through the X's shown.

      .row
        .code-editor.col-xs-6
          %h5
            Editor
            %small (write code below)
          .editor<
            var canvas = document.getElementById('line_to_challenge1');
            var context = canvas.getContext("2d");
            context.clearRect(0, 0, 450, 300);
            \
            context.beginPath();
            \
            \// YOUR CODE HERE
            \
            context.closePath();
            context.stroke();

          .buttons.py-1
            .run.btn.btn-success
              Run
            .reset.btn.btn-danger.float-xs-right
              Reset

        .visual.col-xs-6
          %h5
            Canvas
            %small (your drawing will display here)
          .canvas
            %canvas#line_to_challenge1{style: "background-image: url('/assets/lessons/line_to/challenge1.png')"}
          .alert

  #challenge2.challenge.row.py-3
    .col-xs-12
      .row
        .col-xs-12
          %h2 Challenge 2
          %p.py-2 Draw an L shape passing through the X's at (100, 50), (100, 250), and (200, 250).

      .row
        .code-editor.col-xs-6
          %h5
            Editor
            %small (write code below)
          .editor<
            var canvas = document.getElementById('line_to_challenge3');
            var context = canvas.getContext("2d");
            context.clearRect(0, 0, 450, 300);
            \
            context.beginPath();
            \
            \// YOUR CODE HERE
            \
            context.closePath();
            context.stroke();

          .buttons.py-1
            .run.btn.btn-success
              Run
            .reset.btn.btn-danger.float-xs-right
              Reset

        .visual.col-xs-6
          %h5
            Canvas
            %small (your drawing will display here)
          .canvas
            %canvas#line_to_challenge2{style: "background-image: url('/assets/lessons/line_to/challenge2.png')"}
          .alert



  #challenge3.challenge.row.py-3
    .col-xs-12
      .row
        .col-xs-12
          %h2 Challenge 3
          %p.py-2
            Draw two lines moving throught the x's at (100, 100), (100,200) and (200,100), (200,200),
            but not through any of the red x's

      .row
        .code-editor.col-xs-6
          %h5
            Editor
            %small (write code below)
          .editor<
            var canvas = document.getElementById('line_to_challenge3');
            var context = canvas.getContext("2d");
            context.clearRect(0, 0, 450, 300);
            \
            context.beginPath();
            \
            \// YOUR CODE HERE
            \
            context.closePath();
            context.stroke();

          .buttons.py-1
            .run.btn.btn-success
              Run
            .reset.btn.btn-danger.float-xs-right
              Reset

        .visual.col-xs-6
          %h5
            Canvas
            %small (your drawing will display here)
          .canvas
            %canvas#line_to_challenge3{style: "background-image: url('/assets/lessons/line_to/challenge3.png')"}
          .alert
