#line_to
  %h1 LineTo

  #challenge1.challenge.row
    .col-xs-12
      .row
        .col-xs-12
          %h2 The Challenge
          %p.py-2 Draw a line from the point (55, 226) to the point (155, 80), passing through the X's shown.

      .row.py-1
        .col-xs-6
          .code-editor
            %h5
              Editor
              %small (write code below)
            .editor<
              var canvas = document.getElementById('line_to_challenge');
              var context = canvas.getContext("2d");
              context.clearRect(0, 0, 300, 300);
              \
              context.beginPath();
              \
              \// YOUR CODE HERE
              \
              context.stroke();

            .buttons.py-1
              .run.btn.btn-success
                Run
              .reset.btn.btn-danger.float-xs-right
                Reset

        .visual.col-xs-6
          %h5
            Canvas
            %small (your drawing will display here)
          .canvas
            %canvas#line_to_challenge{style: "background-image: url('/assets/lessons/line_to/challenge1.png')"}
          .alert.alert-success
            %strong Well done!
            You successfully read this important alert message.


  -#
    .interactive.row
      .text.col-xs-6
        The CanvasRenderingContext2D.lineTo() method of the Canvas 2D API connects the last point in the sub-path to the x, y coordinates with a straight line (but does not actually draw it

      .visual.col-xs-6
        %canvas#line_to_interactive1
