.main {
  h1 {
    margin-bottom: 45px;
  }
}

img {
  &.bordered {
    border: 1px solid #ccc;
  }
}

.code-editor {

  .editor {
    width: 100%;
    height: 330px;
    border: 1px solid #333;
    resize: vertical;
    overflow: hidden;
  }

  .log {
    display: none;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;

    .close {
      margin-right: 6px;
    }

    .title {
      padding: 3px 12px;
      border-bottom: 1px solid #ccc;
    }

    .messages {
      max-height: 6em;
      overflow: hidden;

      .message {
        margin: 0 6px;
        padding: 0.25em 6px;

        &:not(:last-child) {
          border-bottom: 1px solid #ccc;
        }
      }
    }
  }

}

.visual {
  .canvas {
    width: 100%;
    height: 330px;
    border: 1px solid #333;
    background-color: #eee;
    overflow: hidden;
    canvas {
      width: 100%;
      height: 360px;
      background-repeat: no-repeat;
      background-position: left top;
    }

  }

  .alert {
    display: none;
  }
}

.freeform {
  .visual {
    .canvas {
      height: 600px;
      canvas {
        height: 630px;
      }
    }
  }
}

.nav-sidebar {
  margin-left: -30px;

  .section_link {
    font-weight: bold;
  }

  .nav {
    margin-left: 18px;

    a, strong {
      padding: 0 12px;
    }

    .tag {
      vertical-align: text-bottom;
      margin-left: -0.25em;
    }
  }
}

.challenge {
  .challenge-title {
    .tag {
      margin-left: 12px;
    }
  }

  .test-image {
    display: none;
  }
}

.highlight {
  background-color: #FDF2B1;
}

.code-preview {
  .code-preview-link {
    color: #0275d8;
    cursor: pointer;
  }

  .code-preview-view {
    display: none;

    .code-preview-code {
      height: 300px;
    }
  }

  .code-preview-missing {
    display: none;
  }
}

.canvas-example {
  background-color: #EEEEEE;
  border: 1px solid #333;
}

.reference-modal-content {
  display: none;
}

pre {
  background-color: #efefef;
  padding: 12px;
}

.files {
  display: none;
  float: right;
  margin-bottom: -3px;

  .dropdown-menu {
    margin-top: -3px;
  }

  .btn-group > .btn:hover, .btn-group-vertical > .btn:hover {
    z-index: auto;
  }
}
