.header {
  padding: 15px;
  margin-bottom: 30px;
  border-bottom: 1px solid #ccc;
}

.navigation {
  border-right: 1px solid #ccc;
  height: 80vh;
}

canvas {
  width: 100%;
  height: 300px;
  border: 1px solid #ccc;
}
