%nav.navbar.navbar-dark.navbar-fixed-top.bg-inverse
  %button.navbar-toggler.hidden-sm-up{"aria-controls" => "navbar", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
  %a.navbar-brand{:href => "#"}
    Drawing Code:
    %small An exploration of artistic observation and computational thinking
  -#
    #navbar
      %nav.nav.navbar-nav.float-xs-left
        %a.nav-item.nav-link{:href => "#"} Dashboard
        %a.nav-item.nav-link{:href => "#"} Settings
        %a.nav-item.nav-link{:href => "#"} Profile
        %a.nav-item.nav-link{:href => "#"} Help
