.col-sm-3.col-md-2.sidebar
  %ul.nav.nav-sidebar
    %li
      %a{:href => '#'}
        Reference
        %span.sr-only (current)

      %ul.nav.nav-sidebar
        %li{class: ('active' if params[:id] == 'line_to')}
          %a{:href => '/lessons/line_to'} lineTo
        %li{class: ('active' if params[:id] == 'fill_rect')}
          %a{:href => '/lessons/fill_rect'} fillRect

  %ul.nav.nav-sidebar
    %li
      %a{:href => ''} CityScape Challenge

      %ul.nav.nav-sidebar
        %li{class: ('active' if params[:id] == 'line_to')}
          %a{:href => '/lessons/line_to'} lineTo
        %li{class: ('active' if params[:id] == 'fill_rect')}
          %a{:href => '/lessons/fill_rect'} fillRect

-#
    %li
      %a{:href => ""} One more nav
    %li
      %a{:href => ""} Another nav item
    %li
      %a{:href => ""} More navigation
