.col-sm-3.col-md-2.sidebar
  %ul.nav.nav-sidebar
    %li
      %a{:href => '#'}
        Reference
        %span.sr-only (current)

      %ul.nav.nav-sidebar
        - @reference.each do |challenge|
          %li{class: ('active' if params[:id] == challenge.to_s)}
            %a{:href => "/lessons/#{challenge}"}
              = @challenges[challenge][:method]
              %span.tag.tag-default
                %small{class: challenge}= "0 / #{ @challenges[challenge][:count]}"

  %ul.nav.nav-sidebar
    %li
      %a{:href => ''} CityScape Challenge

      %ul.nav.nav-sidebar
        %li{class: ('active' if params[:id] == 'line_to')}
          %a{:href => '/lessons/line_to'} lineTo
        %li{class: ('active' if params[:id] == 'fill_rect')}
          %a{:href => '/lessons/fill_rect'} fillRect

-#
    %li
      %a{:href => ""} One more nav
    %li
      %a{:href => ""} Another nav item
    %li
      %a{:href => ""} More navigation
