.col-sm-3.col-md-2.sidebar
  %ul.nav.nav-sidebar
    %li
      %a{:href => '#'}
        Reference
        %span.sr-only (current)

      %ul.nav.nav-sidebar
        %li.active
          %a{:href => '/lessons/line_to'} lineTo

  %ul.nav.nav-sidebar
    %li
      %a{:href => ''} CityScape Challenge

      %ul.nav.nav-sidebar
        %li.active
          %a{:href => '/lessons/line_to'} lineTo

-#
    %li
      %a{:href => ""} One more nav
    %li
      %a{:href => ""} Another nav item
    %li
      %a{:href => ""} More navigation
